coverage==3.7.1
django-filer
django-hvad
django-phonenumber-field
django-sortedm2m
-e git+https://github.com/nephila/djangocms-helper.git#egg=djangocms-helper
djangocms-text-ckeditor
phonenumbers
pysqlite
python-coveralls==2.4.2
sphinx
vobject